.profile-page-wrapper {
    padding: 2rem;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #e4e5e6;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    width: auto !important;
    height: 10rem !important;
}